p {
  font-size:1.5rem;
}

.head-banner {
  position: relative;
  padding-top: 4.375em;
  margin: 0 auto 10em auto;
}

.hyphen {
  color: #28CC9E;
  font-size: 18px;
}

.subtitle { 
  margin: 0 auto;
  font-family: 'Kalam',cursive;
  font-size: 1.562rem;
  font-weight: lighter;
  color: gray;
}

.sunburst {
  width: 6.25em;
  height: 6.25em;
  position: absolute;
  left: 20%;
  top: 50px;
  margin: 1px;
}

.mountain {
  margin: 0 auto;
  width: 55%;
  height: 50%;
}

.cloud_two {
  width: 160px;
  height: auto;
  position: absolute;
  left: 10%;
  bottom: 70%;
  margin: 1px;
}

.profile {
  margin: 10em auto;
  padding: 2em;
}

.skills {
  margin: 275px auto;
}


.skills-row {
  text-align: left;
  margin: 125px auto;
  width: 80%;
  line-height: 2;
}

.html-gif {
  width: 22.5%;
  float: left;
  margin: 0 30px 10px 0;
  display: block;
}

@media screen and(max-width: 850px) {
  .html-gif {
    margin: 0 1.25em 0 0;
  }
  html body div:not(.noaddspace) {
    margin-top: 10em auto 6em auto;
  }
  .header {
    padding: 2em;
  }
}

@media screen and (min-width: 1200px) {
  .skills-row {
    width: 60%;
  }
  .graphic-design {
    margin: 5em auto 0.625em 1.875em;
  }
  .subtitle {
    padding-left: 3.25em;
  }
    #skillone {
  margin: 125px auto 62.5px auto;
    }
  #skilltwo {
    margin: 62.5px auto 125px auto;
  }
  .head-banner {
    padding-top: 0;
  }
  .skills h2 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px) {
  .graphic-design {
    margin: 10em auto 0.625em 2em;
  }
  .subtitle {
    padding-left: 2.5em;
  }
  .head-banner {
    margin: 15em auto;
  }
  .profile {
    margin: 15em auto;
  }
  .sunburst {
    top:-55px;
  }
}


.graphic-design {
  width: 22.5%;
  height: auto;
  float: right;
  display: block;
}

@media screen and (max-width: 600px) {
  .graphic-design {
    margin-left: 10px;
  }
  .profile
  .call2action p{
    font-size: 0.875rem;
  } 
  .head-banner {
    margin: 35em auto;
  }
  .profile {
    margin: 35em auto;
  }
}

.skill-row h3 {
  text-align: left;
  font-size: 2rem;
  margin-left: 0;
}

.contact-bar {
  margin: 225px auto;
  padding: 1em;
  display: grid;
}

.call2action {
  display: grid;
}
  
