
body {
  margin: 0;
  text-align: center;
  background-color: #E3F8FF;
}

div {
  padding: 1em 0.6em;
}

.greeting {
  padding-left: 100px;
  margin: 50px auto 0 auto;
  font-family: 'Yellowtail', cursive;
  font-weight: 100;
  color: #FFDD83;
  font-size: 7.125rem;
}

h2 {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: gray;
  font-size: 3rem;
}

h3 {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #27b788;
  font-size: 1.75rem;
}

p {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  font-size:1.5rem;
}

hr {
  width: 4%;
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 6px;
  padding-top: 2px;
}

footer {
  display: grid;
  margin: 6.25em 0 0 0;
  padding: 2.25em 0.625em 0.625em 0.625em;
  background-color: #85dbc9;
}

.social-links {
  padding-top: 1em;
  padding: 0;
  font-size: 1.5em;
}

.social-links span {
  padding: 0 1.25em;
}

.resources {
  justify-self: flex-end;
  display: flex;
  padding: 0;
  font-size: 1.1em;
}

footer a {
  padding: 0.625em .625em 0 .625em;
  color: rgb(21, 13, 141);
}

footer a:hover {
  color: white;
}

@media screen and (max-width: 678px) {
  html body *:not(.contact-bar) {
    margin-top: 5em;
  }
}
